<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
<!--    <div th:include="fragments/header :: userInfo"></div>-->
</head>
<body>
<main class="container">
<!--    <h3 th:fragment="userInfo"></h3>-->

    <h1>Welcome to the Code Fellowship, my precious.</h1>

    <a th:if="${username == null}" href="/login">Log In</a>
    <br>
    <a th:if="${username == null}" href="/signup">Or Sign Up</a>
    <br>
    <a th:if="${username != null}" href="/logout">Log Out</a>


</main>
</body>
</html>
