<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
<div th:replace="fragments/header :: h3"></div>
<div th:replace="fragments/header :: nav"></div>
<main class="container">

    <nav></nav>
    <h1>Welcome to the Code Fellowship, my precious.</h1>

    <a th:if="${username == null}" href="/login">Log In</a>
    <br>
    <a th:if="${username == null}" href="/signup">Or Sign Up</a>
    <br>
    <a th:if="${username != null}" href="/logout">Log Out</a>


</main>
</body>
</html>
